div {
	background-color: #f3fefe;
	width: 50%;
	color: #6610f2;
	position: relative;
	left: 25%;
}
h1 {
	text-align: center;
	color: #6610f2;
	font-size: 2em;
	font-weight: bold;
}
.field {
	text-align: center;
	font-size: 1.5em;
}
.field input {
	border-radius: 5px;
}
.field span {
	color: red;
	font-size: 0.75em;
}
.click {
	background-color: #6610f2;
	color: white;
}